{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "plugins": ["react"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "block-scoped-var": 0,
    "camelcase": 0,
    "curly": false,
    "dot-notation": [2, {"allowSnakeCase": true}],
    "eol-last": [2],
    "no-alert": 0,
    "no-debugger": false,
    "no-mixed-requires": [0],
    "no-underscore-dangle": [0],
    "no-unused-expressions": true,
    "no-use-before-define": false,
    "padded-blocks": 0,
    "quotes": [2, "single"],
    "react/display-name": 0,
    "react/jsx-boolean-value": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-quotes": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-multi-comp": 2,
    "react/no-unknown-property": 2,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2,
    "react/wrap-multilines": 2,
    "valid-jsdoc": 2
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true,
    "blockBindings": true
  }
}
